h6 {
  color: rgb(100, 17, 17);
}

#cards {
  background-color: rgb(143, 141, 141);
  width: 50%;
  border-radius: 3px;
  padding: 5px;
}

textarea {
  width: 100%;
}

#info {
  font-size: 0.8rem;
  margin-top: 0px;
  color: rgb(94, 92, 92);
}
